.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  .beer-item {
    width: 28%;
    padding: 20px;
    margin: 10px;
    position: relative;
    &[data-id]:before {
      content: attr(data-id);
      color: grey;
      position: absolute;
      top: 30px;
      right: 30px;
      background: #47a3da;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      color: white;
      align-items: center;
      cursor: pointer;
    }

    &:hover {
      box-shadow: 0 0px 10px rgba(71, 163, 218, 0.15),
        0 0px 3px rgba(71, 163, 218, 0.69);
      cursor: pointer;
    }

    &__title {
      margin: 15px 0 10px;
      color: var(--primary);
    }
    &__brewed {
      color: var(--light);
      font-size: 17px;
      padding: 0 0 10px 0;
      font-weight: 700;
    }
    img {
      max-width: 200px;
      display: block;
      margin: 0 auto;
      max-height: 200px;
    }
  }
}
@media (max-width: 767px) {
  .beer-list {
    .beer-item {
      width: 100%;
    }
  }
}
